name: build

on:
  push:
    paths-ignore:
      - README.md
      - LICENSE

  pull_request:
    paths-ignore:
      - README.md
      - LICENSE
    branches: [master]

jobs:
  build-n-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install build dependencies
        run: sudo apt install libx11-dev libxcursor-dev libpng-dev

      - name: Cache pip dependencies
        uses: actions/cache@v2
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Install pip dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 setuptools wheel twine
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Make
        run: python setup.py install

      - name: Packaging
        run: python setup.py sdist bdist_wheel

      - name: Unittest
        run: |
          cd dist && mkdir clickgen
          cd clickgen
          python -m unittest ./test
